.item{ margin-bottom: 0.6em; margin-left: 0.4em; }
.item img{width: 100%; }
.pref_itemTit{ color: #5d5d5d; margin-bottom: 5px; padding-top: 5px; }
.pref_item{ background: #fff; margin-bottom: 0.6em;}
.pref_itemDeti{ padding-bottom: 5px; color: #f2af27;}
.pref_car{ padding-right: 8px;}
.pref_car img{ width: 1.2em; height: 1.2em;}
.list2{ }
.list1{ }
.list_main{ margin-right: 0.4em; margin-top: 0.4em;}
