.notice_list{ padding-top: 0.6em; padding-bottom: 0.6em; border-bottom: 1px solid #e5e5e5; margin-left: 1em; margin-right: 1em;}
.list_tite{ color: #232323;}
.notice_time{ color: #b5b5b5; margin-top: 0.5em;}
