.mybg{ background: #f4f4f4;}
.perfor_top{ margin: 1em 0; background: #fff; padding: 1em ; color: #666666; }
.redcolor{ color: #f2af27;}
.pref_tltle{ padding-left: 1em; padding-bottom: 1em; color: #666666; }
.pref_list{ background: #fff;}
.list_item{ color: #666666;  border-bottom: 2px solid #f4f4f4; padding: 1em;  }
.pref_time{ color: #999999; margin-top: 0.5em; font-size: 0.9em;}
.perf_num{ margin-top: 0.5em;}
